
/* Responsive */
@media (max-width: 1381px){
    .home .max-width{
        margin-left: 0;
    }
}
@media (max-width:900px){
    .max-width{
     
        padding: 0 50px;
   
    }
    .menu-btn{
        
        display: block;
        z-index: 999;
    
    }
    .menu-btn i.active:before{
        content: "\f00d";
        color: #fff;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #14213D;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
      
    }
    .navbar .menu.active{
        left: 0;
 
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 35px;
    }

    .navbar.sticky .menu li a{
        color: #fff;
    }

    .navbar .menu-btn .menu.active{
        color: #fff;
    }
    .about .max-width .about-text{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 960px;
        margin: 20px auto;
        
    }

}
@media(max-width:840px){
    .skills .skills-content .card{
        width:100%;
        max-width: 500px;
        margin: 20px auto;
 
    }
}
@media(max-width:600px){

    .home .home-content .text-1{
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 55px;

        
    }
    .home .home-content .text-3{
        font-size: 25px;

        
    }
    .home .home-content a{

        font-size: 20px;
 
    
    }

    .about .max-width .about-text{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 960px;
        margin: 20px auto;
        
    }
    .about .about-button a{

        display: inline-block;
        color: #fff;
        font-size: 18px;
        background-color: #FCA311;
        margin: 10px auto;
        padding: 12px 36px;
        border-radius: 5px;
        transition: all 0.3s ease;
        font-family:'Righteous';
        
    
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .contact .right form .button{
        width: 100%;
    }
}
